<mat-card>
  <mat-card-title>
    <div>
      <img class="imgIcon" src="./assets/images/Logo.png" style="width: 400px;" />
    </div>
  </mat-card-title>
  <mat-card-content>
    <div>
      <h1 id="titulo">404 - Página no encontrada</h1>
    </div>
    <div>
      <div>
        <p id="texto">
          La página que está buscando podría haber sido eliminada, cambio su
          nombre o no está disponible temporalmente.
        </p>
      </div>
      <div>
        <button id="boton" mat-raised-button color="" (click)="irInicio()">
          Regresar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
