<mat-card class="full-width">
    <mat-card-title id="titulo">
        Rubros de Cobro
        <a mat-mini-fab matTooltip="Crear" aria-label="Crear" class="btnCrear" (click)="crearRubro()">
            <mat-icon class="btnCrear">add</mat-icon>
        </a>
    </mat-card-title>
    <mat-card-content class="contenidoTabla">
        <div class="mat-elevation-z8" *ngIf="dataSource">
            <!-- Table -->
            <table mat-table class="full-width-table" [dataSource]="dataSource" matSort matSortStart="desc"
                aria-label="Elements">
                <!-- Columna id -->
                <ng-container matColumnDef="id">
                    <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Número de Rubro de Cobro
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                </ng-container>

                <!-- Columna descripcion -->
                <ng-container matColumnDef="descripcion">
                    <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.descripcion }}
                    </td>
                </ng-container>

                <!-- Columna monto -->
                <ng-container matColumnDef="monto">
                    <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
                    <td mat-cell *matCellDef="let row">
                        ₡{{ row.monto }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th class="tituloCol" mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-mini-fab matTooltip="Actualizar" aria-label="Actualizar" color="success" class="btn"
                            (click)="actualizarRubro(row.id)">
                            <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una pagina">
            </mat-paginator>
            <!-- Table -->
        </div>
    </mat-card-content>
</mat-card>