<h1 style="color: #008037; margin: 20px 5px;">Incidencias</h1>
<mat-tab-group style="background-color: #000; height: auto;" animationDuration="1500ms" mat-align-tabs="center">
   
    <!-- Estado solicitud -->
    <mat-tab label="Solicitudes">
        <div>
            <mat-card class="full-width">
                <mat-card-content class="contenidoTabla">
                    <!-- Tabla con idEstado = 1 -->
                    <div class="mat-elevation-z8" *ngIf="dataSource">
                        <!-- Table -->
                        <table mat-table class="full-width-table" [dataSource]="dataSource" matSort matSortStart="desc"
                            aria-label="Elements">
                            <!-- Columna id -->
                            <ng-container matColumnDef="id">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Número de Incidencia
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.id }}
                                </td>
                            </ng-container>
            
                            <!-- Columna descripcion -->
                            <ng-container matColumnDef="descripcion">
                                <th class="tituloCol desc" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Descripción
                                </th>
                                <td class="desc" mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
                            </ng-container>
            
                            <!-- Columna Estado -->
                            <ng-container matColumnDef="estado">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.estado.descripcion }}
                                </td>
                            </ng-container>
            
                            <!-- Columna Usuario -->
                            <ng-container matColumnDef="usuario">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Creador
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.usuario.nombre }}
                                    {{ row.usuario.primerApellido }}
                                    {{ row.usuario.segundoApellido }}
                                </td>
                            </ng-container>
            
                            <ng-container matColumnDef="acciones">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row">
                                    <button [disabled]="row.idEstado === 3 ? true : false" mat-mini-fab matTooltip="Actualizar"
                                        aria-label="Actualizar" color="success" class="btn"
                                        (click)="updateEstado(row.id, row.idEstado)">
                                        <mat-icon class="mat-18">{{row.idEstado === 1 ? 'notification_important' : row.idEstado ===
                                            2 ? 'query_builder' : 'check_circle_outline'}}</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
            
                        <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="5"
                            [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una pagina">
                        </mat-paginator>
                        <!-- Table -->
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <!-- Estado proceso -->
    <mat-tab label="Proceso">
        <div style="background-color: #fff;">
            <mat-card class="full-width">
                <mat-card-content class="contenidoTabla">
                    <!-- Tabla con idEstado = 1 -->
                    <div class="mat-elevation-z8" *ngIf="dataSource2">
                        <!-- Table -->
                        <table mat-table class="full-width-table" [dataSource]="dataSource2" matSort matSortStart="desc"
                            aria-label="Elements">
                            <!-- Columna id -->
                            <ng-container matColumnDef="id">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Número de Incidencia
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.id }}
                                </td>
                            </ng-container>
            
                            <!-- Columna descripcion -->
                            <ng-container matColumnDef="descripcion">
                                <th class="tituloCol desc" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Descripción
                                </th>
                                <td class="desc" mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
                            </ng-container>
            
                            <!-- Columna Estado -->
                            <ng-container matColumnDef="estado">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.estado.descripcion }}
                                </td>
                            </ng-container>
            
                            <!-- Columna Usuario -->
                            <ng-container matColumnDef="usuario">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Creador
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.usuario.nombre }}
                                    {{ row.usuario.primerApellido }}
                                    {{ row.usuario.segundoApellido }}
                                </td>
                            </ng-container>
            
                            <ng-container matColumnDef="acciones">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row">
                                    <button [disabled]="row.idEstado === 3 ? true : false" mat-mini-fab matTooltip="Actualizar"
                                        aria-label="Actualizar" color="success" class="btn"
                                        (click)="updateEstado(row.id, row.idEstado)">
                                        <mat-icon class="mat-18">{{row.idEstado === 1 ? 'notification_important' : row.idEstado ===
                                            2 ? 'query_builder' : 'check_circle_outline'}}</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
            
                        <mat-paginator #paginator [length]="dataSource2?.data?.length" [pageIndex]="0" [pageSize]="5"
                            [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una pagina">
                        </mat-paginator>
                        <!-- Table -->
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <!-- Estado finalizado -->
    <mat-tab label="Finalizada">
        <div style="background-color: #fff;">
            <mat-card class="full-width">
                <mat-card-content class="contenidoTabla">
                    <!-- Tabla con idEstado = 1 -->
                    <div class="mat-elevation-z8" *ngIf="dataSource3">
                        <!-- Table -->
                        <table mat-table class="full-width-table" [dataSource]="dataSource3" matSort matSortStart="desc"
                            aria-label="Elements">
                            <!-- Columna id -->
                            <ng-container matColumnDef="id">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Número de Incidencia
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.id }}
                                </td>
                            </ng-container>
            
                            <!-- Columna descripcion -->
                            <ng-container matColumnDef="descripcion">
                                <th class="tituloCol desc" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Descripción
                                </th>
                                <td class="desc" mat-cell *matCellDef="let row">{{ row.descripcion }}</td>
                            </ng-container>
            
                            <!-- Columna Estado -->
                            <ng-container matColumnDef="estado">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Estado
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.estado.descripcion }}
                                </td>
                            </ng-container>
            
                            <!-- Columna Usuario -->
                            <ng-container matColumnDef="usuario">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Creador
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{ row.usuario.nombre }}
                                    {{ row.usuario.primerApellido }}
                                    {{ row.usuario.segundoApellido }}
                                </td>
                            </ng-container>
            
                            <ng-container matColumnDef="acciones">
                                <th class="tituloCol" mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let row">
                                    <button [disabled]="row.idEstado === 3 ? true : false" mat-mini-fab matTooltip="Actualizar"
                                        aria-label="Actualizar" color="success" class="btn"
                                        (click)="updateEstado(row.id, row.idEstado)">
                                        <mat-icon class="mat-18">{{row.idEstado === 1 ? 'notification_important' : row.idEstado ===
                                            2 ? 'query_builder' : 'check_circle_outline'}}</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
            
                        <mat-paginator #paginator [length]="dataSource3?.data?.length" [pageIndex]="0" [pageSize]="5"
                            [pageSizeOptions]="[3, 5, 10]" aria-label="Seleccione una pagina">
                        </mat-paginator>
                        <!-- Table -->
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>